/*http://webresizer.com/resizer/
http://livedemo00.template-help.com/magento_52429/
*/
body{
	background-color: #e7e7de !important;
}
.text-white{
	color: #FFFFFF !important;
}
.font-color-e33b01{
	color: #e33b01 !important;
}
.img-thumbnail{
	max-width: 400px !important;
}
.backgroun-color-64c4b8{
	background-color: #64c4b8;
}
.backgroun-color-968b7c{
	background-color: #968b7c;
}
.float-lg-left-12{
	float: left;
}
.float-lg-right-12{
	float: right;
}

.backgroun-color-968b7c:hover{
	background-color: #968b7c !important;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-left-0{
	margin-left: 0px;
}
.list-style-none{
	margin: 0;
    padding: 0;
    list-style: none;
}
.padding-top-15{
	padding-top: 15px !important;
}
.padding-bottom-15{
	padding-bottom: 15px !important;
}
.pull-float-right{
	float: right;
}
.display-inherit{
	display: inherit;
}
.pull-float-left{
	float: left;
}
.underline:hover{
	text-decoration: underline !important;
}
#custom-menu-movil{
	padding:  15px 15px 15px 10px;
	cursor: pointer;
	width: 55px;
}
.text-409086{
	color: #409086 !important;
}
.texthover-409086:hover{
	color: #e35e01 !important;
}
.menu-custom-a{
	padding:  17px 20px 18px 20px;
    font-size: 17px;
}

.menu-custom-home{
	padding:  17px 15px 18px 15px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.menu-custom-home:hover{
	background-color: #968b7c;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}
.menu-custom-a:hover{
	background-color: #968b7c;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
	
}

.margin-top-15{
	margin-top: 15px;
}
.background-color-ff9000{
	background-color: #ff9000;
}
.background-color-64c4b8{
	background-color: #64c4b8;
}
.background-color-e82d50{
	background-color: #e82d50;
}
.front .page-title{
	display: none;
}
.front #first-time{
	display: none;
}
#map{ height: 400px;}
.border-transitions-1:hover{
-webkit-box-shadow: 0 0 10px 2px #FF9EB8;
box-shadow: 0 0 10px 2px #FF9EB8;
}
.background-color-ff9000hover:hover,.background-color-64c4b8hover:hover,.background-color-e82d50hover:hover{
	background-color: #968b7c;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}
.bacg-color-ff9000:hover{
	color: #968b7c!important;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
	
}
.backg-footer-color-ff9000{
	background-color: #ff9000;
}
.font-size-12{
	font-size: 12px !important;
}
.font-size-20{
	font-size: 20px !important;
}
.font-size-20{
	font-size: 20px !important;
}
.margin-right-10{
	margin-right: 10px;
}
.position-ap{

}
.border-top{
	border-top: 1px solid #dedede;
	margin-top: 10px;
	padding-top: 10px;
}



