/* All Responsive
================================================== */  
@media only screen and (max-width: 1024px) {
   .font-size-25{
    font-size: 20px !important; 
  }
  .menu-custom-a{
    padding:  17px 10px 18px 10px;
  }
  .clearfix768{
   clear: both;
  }
}

@media only screen and (max-width: 959px) {
    
  /*hide things*/
  /*navigation top menu*/

  #navigation {
    height: 50px;
    width: 100%;
    z-index: 50;
    top: auto;
    left: auto;
    right: auto;
    background: #e73420 url("../images/responsive-nav.png") right center no-repeat;
  }

  #navigation .selector {
    width: 100%;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
    text-indent: 40px;
  }
  #navigation .selector {
    height: 50px;
    width: 100%;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    cursor: pointer !important;
  }

  #navigation .selector:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
  }

  #navigation .selector select:focus {
    outline: 0;
  }

  #navigation .selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #navigation .selector select {
    position: absolute;
    top: 0px;
    left: 0;
    height: 70px;
    background: none;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #666 !important;
    cursor: pointer;
  }
  #navigation .selector {
    margin: 0;
    padding: 0;
    border: none;
  }

  #navigation .selector option {
    background: #000;
    -webkit-appearance: none;
    padding: 10px 40px;
    border: none;
    border-bottom: 1px solid #222;
  }
    
  /*display dropdown nav*/
  #navigation .selector {
    display: inline-block;
  }
  
}


/* Tablet (Portrait) = Design for a width of 730px
================================================== */

@media only screen and (max-width: 768px) {
  /*main*/
  #content {
    width: 380px;
  }
  #hidden-block{
    display: none;
  }
  #sidebar {
    width: 190px;
  }

  #home-slider{
    margin-bottom: 0px;
  }
  .hidden-menu{
    display: none;
  }
  .width-menu{
    width: 100%;
    text-align: left
  }

.menu-custom-a{
  width: 100%;
  display: block;
}
.padding-bottom-15{
  padding-bottom: 0px !important;
}
.position-absolute{
  position: absolute;
  z-index: 200;
  width: 200px;
}
#custom-menu-hidden{
  display: none;
}
  
  .sidebar-bg{
    background-image: url("../images/sidebar-bg-tablet.png");
  }
  .meta li{
    display: block;
  } 
  .border-bottom-FFFFFF{
  border-bottom: 3px solid #FFFFFF !important;
  }
  .pull-float-right{
    float: none;
  }
  /*footer*/
}



/* Mobile (Portrait) = Design for a width of 280px
================================================== */


/* Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen  and (max-width: 480px) {

}